<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ephraimhammer.jct.customercarrental">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".control.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".control.reservedCarUpdateService"
            android:exported="false" />

        <activity
            android:name=".control.activity.CarListActivity"
            android:parentActivityName=".control.activity.MainActivity" />
        <activity android:name=".control.activity.AddCommandActivity" />

        <receiver
            android:name=".control.other.FreeCarReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".control.activity.LogInActivity" />
        <activity android:name=".control.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".control.activity.RegisterActivity" />
        <activity
            android:name=".control.activity.CommandListActivity"
            android:parentActivityName=".control.activity.MainActivity"></activity>
        <activity android:name=".control.activity.MapActivity"></activity>
    </application>

</manifest>